*{
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #333;
    color: rgb(238, 223, 223);
    line-height: 1.6;
    height: 100vh;
    overflow: hidden;
}

.container {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

.navbar {
    position: fixed;
    bottom: 0;
    z-index: 1;
    display: flex;
    width: 100%;
    height: 60px;
    background: linear-gradient(to top, #000, #333);
    transition: ease;
}

.navbar ul{
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

/*.navbar ul li.active{

    background: #333;
    height: 60px;
}*/

.navbar ul li a{
    text-decoration: none;
    text-transform: uppercase;
    color: #f4f4f4;
}

.navbar ul li a:hover{
    color: skyblue;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100vh;
    scroll-snap-align: center;
}

section h1 {
    font-size: 4rem;
}

section p{
    font-size: 1.5rem;
}

.subcontainer{
    width: 100%-2rem;
    margin: 1rem;
    border: solid #222;
    border-radius: 1rem 1rem 0 0;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll; 
    overflow-y: hidden;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
}

.subsection{
    width: 100%;
    flex: 0 0 auto;
    scroll-snap-align: center;
}

section navdots {
    display: inline-block;
}

#Home img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    float: left;
}

#Home .seccontainer h2{
    font-size: 2rem;
}

button{
    background: #222;
    border: solid #dd4124;
    color: #dd4124;
    padding: 1rem;
    transition: 0.3s ease;
    margin: 1rem;
}

button:hover{
    background: #333;
}