*
{
    margin: 0px;
    padding: 0px;
}
#vline1
{
    position: absolute;
    height: 600px;
    width: 10px;
    background-color: black;
    margin-left: 678px;
}
#block1
{
    width: 10px;
    height: 10px;
    background-color: black;
    border-radius: 5px;
}